body {
	background-color: #FFF;
	background-image: url("../img/bg-print.svg");
}

body, h1, h2, h3, header h2, a {
	color: #000;
}

section {
	float: left;
    width: 100mm;
}

header h1 {
	font-size: 44px;
	margin-top: 0;
}

header h2 {
	font-size: 24px;
}

a:hover {
	color: #000;
}

h2 .fa {
	color: #000;
}

#intro {
	display: none;
}

#competences {
	margin-right: 0%;
	width: 110mm;
}

#formations, #languages, .website {
	display: block;
}

#languages {
	margin-top: 30px;
}

#formations li, #languages li {
	margin-bottom: 5px;
}

.training-info {
	color: #666;
}

.container {
	width: 210mm;
	max-width: 210mm;
}

.skills-list dd div {
	background-color: #333;
	height: 2px;
}

.skills-list dt {
	width: 33%;
}

.refs > li > span {
	padding-right: 30px;
}

#me {
	border: none;
	opacity: 1;
}

.social, .cv {
	display: none;
}