/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* typo */
body {
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
   	color: #CCC;
}

h1, h2, h3 {
    font-family: 'Raleway', serif;
    color: #FFF;
}

header {
    text-align: center;
}

header h1, header h2 {
    text-transform: none;
}

header h1 {
	font-size: 32px;
    letter-spacing: 0px;
    margin: 30px 0px 6px;
}

header h2 {
	font-family: 'Varela Round', sans-serif;
	font-size: 19px;
    letter-spacing: 0px;
    margin-bottom: 15px;
    color: #91d85b;
}

em {
	color: #FFF;
}

a {
	text-decoration: none;
	color: #CCC;
}

a:hover {
	text-decoration: underline;
	color: #FFF;
}

p {
	margin: 5px 0;
	text-align: justify;
}

section h2 {
	font-size: 24px;
	text-transform: none;
    letter-spacing: 0px;
    margin-bottom: 15px;
}

h2 .fa {
	margin-right: 3px;
	color: #DDD;
}


/* main structure */
body {
	background-color: #111111;
	background-image: url("../img/bg.svg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: auto 50%;
}

header {
	position: relative;
}

section {
	margin: 15px 0;
	float: left;
	width: 100%;
}

.container {
	max-width: 700px;
	width: 320px;
	margin: auto;
}


/* intro */
#intro {
	width: 100%;
	text-align: center;
	margin: 20px 0;
}

#intro li {
	font-size: 15px;
	margin-bottom: 9px;
}


/* skills */
.skills-list {
	margin-top: 15px;
}

.skills-list > .spacer {
	height: 15px;
	display: block;
}

.skills-list dt, .skills-list dd {
	margin-bottom: 0px;
	line-height: 25px;
	display: inline-block;
}

.skills-list dt {
	width: 44%;
}

.skills-list dd {
	width: 53%;
}

.skills-list dt {
	text-align: right;
	margin-right: 3%;
}

.skills-list dd {
	vertical-align: middle;
}

.skills-list dd div {
	background-color: #91d85b;
	height: 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.skills-list dd.skill-95 div {	width: 95%; }
.skills-list dd.skill-90 div {	width: 90%; }
.skills-list dd.skill-80 div {	width: 80%; }
.skills-list dd.skill-70 div {	width: 70%; }
.skills-list dd.skill-60 div {	width: 60%; }
.skills-list dd.skill-50 div {	width: 50%; }


/* refs */
.refs {
	display: table;
}

.refs > li {
	display: table-row;
}

.refs > li > span {
	line-height: 25px;
	display: table-cell;
	padding-right: 15px;
	color: #666;
}

.refs > li > span:first-child {
    color: #000;
}

.refs > li > span:last-child {
    padding-right: 0;
}


/* contact */
.contacts {
	margin-bottom: 10px;
}

#me {
	float: left;
	width: 125px;
	margin-right: 14px;
	border: 1px solid #999;
	opacity: 0.8;
}

#me:hover {
	opacity: 1;
}

.contacts li {
	margin-bottom: 10px;
}

.social {
	margin-top: 7px;
}

.social li {
	display: inline-block;
}

.social li a {
	font-size: 18px;
	color: #AAA;
	padding: 3px;
}

.social li a:hover {
	color: #FFF;
	text-decoration: none;
}

.cv {
	color: #91d85b;
}

.small {
	font-size: 12px;
	color: #666;
}


/* only for print */
#formations, #languages, .website {
	display: none;
}


/* larger screens */
@media only screen and (min-width: 690px) {
	.container {
		width: 95%;
	}
	header h1 {
		font-size: 42px;
	}
	header h2 {
		font-size: 22px;
	}
    section {
        width: 47%;
    }
    #competences {
		margin-right: 6%;
	}
	.skills-list dt, .skills-list dd {
		line-height: 20px;
	}
	#intro {
		margin: 40px 0;
	}
	#intro li {
		font-size: 24px;
	}
	.refs > li > span {
		padding-right: 18px;
		line-height: 20px;
	}
	.refs > li > span:nth-child(2) {
	    display: none;
	}
	.contacts li {
		margin-bottom: 5px;
	}
	#me {
		width: 110px;
	}
}

@media only screen and (min-width: 760px) {
	.refs > li > span:nth-child(2) {
	    display: table-cell;
	}
}
