/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 14px;
}

body {
	background-color: #000000;
	color: #FFF;
}

.container {
	max-width: 780px;
	margin: auto;
	padding: 2.5rem 0.6rem;
}


/** section appearances */
header {
	background-color: rgba(255, 255, 255, 1);
	color: #000000;
	position: relative;
	background-image: url("../img/whitebg.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}


section#exp {
	background-color: rgba(17, 60, 99, 1);

}

section#competences {
	background-color: rgba(232, 185, 32, 1); 
	color: rgb(27, 22, 4); 
}
section#contact {
	background-image: url("../img/greybg.jpg");
	background-size: cover;
	background-color: rgba(0, 0, 0, 1);
}
footer {
	background-color: rgba(197, 32, 38, 1);
}


/** typo */
@font-face {
	font-family: "Sarbacane";
	src: url("../fonts/sarbacane.woff2") format("woff2"),
		   url("../fonts/sarbacane.woff") format("woff");
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
}

h1, h2, h3, h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-bottom: 0.4rem;
}

h1, h2 {
	font-family: "Sarbacane", Impact, 'Montserrat', sans-serif;
	font-size: 3.5rem;
	font-weight: normal;
	margin-bottom: 0.2rem;
}

h2 {
	font-size: 3rem;
	margin-bottom: 2.1rem;
}

header h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.3rem;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}


/** layout */
.top-nav {
	display: none;
}


#intro {
	display: inline-block;
	padding: 1.5rem 1rem;
	font-size: 1.3rem;
	background-color: rgba(74, 152, 79, 1);
	color: #FFFFFF;
    box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.3);
}

li {
	margin-bottom: 0.5rem;
}

.teached {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.teached > div {
	margin-bottom: 2rem;
}

/* refs */
.refs {
	display: table;
}


.refs > li {
	display: table-row;
	color: rgba(255,255,255,0.8);
}

.refs > li > span {
	line-height: 1.8rem;
	display: table-cell;
	padding-right: 3rem;
}

.refs > li > span:first-child {
	color: rgba(255,255,255,1);
}

.refs > li > span:nth-child(2) {
	display: none;
}

.refs > li > span:last-child {
    padding-right: 0;
}


/* contact */
.contact-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.contact-info-container {
	background-color: rgba(197, 32, 38, 1);
	padding: 2rem;
	flex-grow: 1;
	margin-bottom: 1.5rem;
	box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.2);
}

.contacts {
	margin-bottom: 1.6rem;;
}

.contacts li {
	line-height: 1.4rem;
}

p.small {
	text-align: right;
	font-size: 1.1rem;
	margin-bottom: 0.3rem;
}

#me {
	max-width: 185px;
	box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.2);
	margin-bottom: 1.5rem;
}

.social {
	display: flex;
	flex-direction: column;
}

.social a {
	background-color: rgba(17, 60, 99, 1);
	padding: 1rem;
	line-height: 2rem;
	display: flex;
	align-items: center;
	box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.2);
}

.social a:hover {
	background-color: rgba(17, 60, 99, 0.8);
	text-decoration: none;
}


.social .fa {
	font-size: 1.6rem;
	margin-right: 0.8rem;
}

@media all and (min-width: 400px){
	.refs > li > span:nth-child(2) {
		display: table-cell;
	}
}

@media all and (min-width: 600px){
	html {
		font-size: 16px;
	}

	.top-nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 5;
	}


	h1 {
		font-size: 5.4rem;
	}

	header h2 {
		font-size: 1.9rem;
	}

	#intro {
		padding: 2rem;
		font-size: 1.5rem;
	}

	.teached {
		flex-direction: row;
	}
	
	.teached > div {
		margin-bottom: 0;
	}

	.contact-container {
		flex-direction: row;
	}

	#me {
		margin-right: 2rem;
	}

	.social {
		flex-direction: row;
	}

	.social li:not(:last-child){
		margin-right: 2rem;
	}

	.top-nav {
		display: block;
		box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.3);
		background-color: #000;
	}
	
	.top-nav .container {
		padding-top: 0;
		padding-bottom: 0;
	}
	
	.top-nav ul {
		height: 3rem;
		display: flex;
		justify-content: left;
		align-items: center;
		align-content: center;
		padding: 0;
	}
	
	.top-nav li {
		margin-bottom: 0;
	}
	
	.top-nav a {
		display: block;
		padding: 0.3rem 2rem;
		text-transform: uppercase;
	}
	
	.top-nav a:first-child {
		padding-left: 0;
	}

	header {
		margin-top: 3rem;
	}
}